<div class="row">
  <div class="col text-center">
    <h1 class="display-1">Last Time</h1>
  </div>
</div>
<form {{action "addEvent" on="submit"}}>
  <div class="form-group">
    {{input type="text" id="last-time-input" class="form-control"
            autocomplete="off"
            placeholder="When was the last time you did something?"
            value=lastTimeValue}}
    <small>E.g. Washed car / Went on holiday / Cleaned room</small>
  </div>
</form>
<div class="row">
  <div class="col">
    {{#each filteredEventsByTitle as |event|}}
      {{event-item event=event
                   onDeleteEvent=(action "deleteEvent")}}
    {{/each}}
  </div>
</div>

{{#if displayInfo}}
<div id="info" class="text-center" {{action "hideInfo" preventDefault=false}}>
  <button type="button" class="close" aria-label="Hide info">
    <span aria-hidden="true">&times;</span>
  </button>
  <small>
    Small application designed to help you remember the last time you did something!<br>
    Currently work in progress. Feel free to contact me at <a href="mailto:benlertlumprasertkul@gmail.com">
    benlertlumprasertkul@gmail.com</a><br>
    ---<br>
    This app does not persist your events. Currently developing the feature to save events in local storage.<br>
    Subsequently will add features to save events to a user account
  </small>
</div>
{{else}}
<div id="info-btn" class="text-center" {{action "displayInfo"}}>i</div>
{{/if}}
